<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="icon" href="/images/favicon.png" type="image/png" />
  </head>
  <body>
    <h1>Bienvenido a <%= title %></h1>
    <p>El Portal donde podrá crear sus propios juegos!</p>
  </body>
</html>
